@font-face {
	font-family: oswald;
	src:
		url(../fonts/oswaldregular.woff) format("woff"),
		url(../fonts/oswaldregular.woff2) format("woff2");
}

@font-face {
	font-family: oswaldmedium;
	src:
		url(../fonts/oswaldmedium.woff) format("woff"),
		url(../fonts/oswaldmedium.woff2) format("woff2");
}

.ul-reset(){
	margin: 0;
	padding: 0;

	list-style: none;
}

@import "normalize.less";


body {
	min-width: 320px;

	margin: 0px;
	padding: 0px;

	font-family: Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	line-height: 18px;
	color: #444444;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

.content-box-component {
	box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border:0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@import 'header-block/header-block.less';

@import 'programms-fit-block/programms-fit.less';

@import 'advantage-block/advantage.less';

@import 'stats-block/stats.less';