.stats {
	width: 100%;
	 background-color: #f2f2f2;
}

.stats__heading {
	width: 320px;
	margin: 0 auto;
	padding: 0 20px;
	padding-top: 35px;
	padding-bottom: 25px;

	font-family: oswald;
	font-size: 36px;
	line-height: 60px;
	color: #000000;
}

.stats__description {
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
}

.stats__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.stats__info {
	width: 123px;
	height: 56px;
	margin-bottom: 30px;

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
	border: 1px solid #cdcdcd;
}

.stats__info p {
	margin: 0;
	padding: 0;

	font-family: oswald;
	font-size: 24px;
	line-height: 24px;
	color: #000000;
	text-align: center;

	text-transform: uppercase;
}

.stats__info legend {
	position: absolute;
	bottom: -15px;

	width: 85px;

	font-size: 12px;
	line-height: 12px;
	text-align: center;

	background-color: #f2f2f2;
}

.stats__table {
	width: 100%;


	display: flex;
	justify-content: center;


	font-family: oswald;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;

}
